.movieRow {
    margin-bottom: 30px; 
}

.movieRow h2 {
    margin: 0;
    margin-left: 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

.movieRow--list {
    width: 999999999999px;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
}

.movieRow--item img {
    width: 100%;
    transform: scale(.9);
    transition: transform ease 0.2;
}

.movieRow--item img:hover {
    transform: scale(1);
}


.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 230px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    transition: all ease .2s;
    opacity: 0; 
    transition: opacity ease .2s;
}

.moviewRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

.movieRow--left:hover,
.movieRow--right:hover {
    cursor: pointer;
    background: rgba(0,0,0, .6); 
}
