.featured {
    height: 100vh;
    background-size: cover; 
    background-color: #111;
    background-repeat: no-repeat;
    background-position: top center;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
    
}

.featured--hotizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 30px;
}

.featured--name {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.featured--info {
    font-size: 18px; 
    font-weight: bold;
    margin-top: 15px;
}

.featured--points, .fetured--year, .featured--seasons {
    margin-right: 15px;
    display: inline-block;
}

.featured--points {
    display: inline-block;
    color: #46d369; 
}

.featured--year {
    display: inline-block;
    margin-right: 15px; 
}

.featured-seasons {
    display: inline-block;
    margin-right: 15px;
}

.featured--description {
    font-size: 20px;
    margin-top: 15px;
    color: #999; 
    max-width: 40%;
}

.featured--butons {
    margin-top: 15px;
}

.featured--butons .featured--watchbutton,
.featured--butons .featured--mylistbutton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
    opacity: 1; 
    transition: opacity ease .2s;
}

.featured--watchbutton:hover,
.featured--mylistbutton:hover {
    opacity: 0.7;
}

.featured--watchbutton {
    background-color: #fff;
    color: #000;
}

.featured--mylistbutton {
    background-color: #333;
    color: #fff; 
}

.featured--genres {
    color: #999;
    font-size: 18px;
    margin-top: 15px; 
}