@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    -webkit-font-smothing: antialiazed; 
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff; 
    margin: 0;
    padding: 0; 
}

.lists {
    margin-top: -150px; 
}
